#page1.gwd-play-animation .gwd-motion-path-1xr1-anim-x {
  --gwd-motion-path: {
    "tangentFollowing":true, "sections":[ {
      "controlPoints": ["-140px", "80.67px", "124px", "78px", "27.54px", "-82.95px", "250.67px", "-84.67px", "250.67px", "-84.67px", "424px", "-86px", "522.67px", "72.67px", "680px", "72.67px"], "startTimeMs": 0, "endTimeMs": 2000, "easing": "cubic-bezier(0.765, 0.015, 1, 0.525)"
    }
    ], "positionTol":0.5, "angleTol":1, "optimizationLevel":0
  }
  ;
  animation: 2s linear 0s 1 normal forwards running gwd-motion-path-1xr1-keys-x;
  transform: translate3d(-140px, 0px, 0px);
}
@keyframes gwd-motion-path-1xr1-keys-x {
  0% {
    transform: translate3d(-140px, 0px, 0px);
    animation-timing-function: cubic-bezier(0.5353, 0.0335, 0.7857, 0.5867);
  }
  73.4% {
    transform: translate3d(76.35px, 0px, 0px);
    animation-timing-function: cubic-bezier(0.4405, 0.2209, 0.7461, 0.587);
  }
  88.97% {
    transform: translate3d(250.67px, 0px, 0px);
    animation-timing-function: cubic-bezier(0.3796, 0.2712, 0.7557, 0.5989);
  }
  98.07% {
    transform: translate3d(487.84px, 0px, 0px);
    animation-timing-function: cubic-bezier(0.4158, 0.1937, 0.9749, 0.4674);
  }
  100% {
    transform: translate3d(680px, 0px, 0px);
  }
}
#page1.gwd-play-animation .gwd-motion-path-1xr1-anim-y {
  animation: 2s linear 0s 1 normal forwards running gwd-motion-path-1xr1-keys-y;
  transform: translate3d(0px, 80.67px, 0px);
}
@keyframes gwd-motion-path-1xr1-keys-y {
  0% {
    transform: translate3d(0px, 80.67px, 0px);
    animation-timing-function: cubic-bezier(0.7822, -0.033, 0.8497, 0.1783);
  }
  68.95% {
    transform: translate3d(0px, 18.55px, 0px);
    animation-timing-function: cubic-bezier(0.362, 0.2984, 0.6026, 0.754);
  }
  84.52% {
    transform: translate3d(0px, -76.94px, 0px);
  }
  86.75% {
    transform: translate3d(0px, -82.6px, 0px);
  }
  88.97% {
    transform: translate3d(0px, -84.67px, 0px);
    animation-timing-function: cubic-bezier(0.5667, -0.0176, 0.8638, 0.5239);
  }
  100% {
    transform: translate3d(0px, 72.67px, 0px);
  }
}
#page1.gwd-play-animation .gwd-motion-path-1xr1-anim-theta {
  animation: 2s linear 0s 1 normal forwards running gwd-motion-path-1xr1-keys-theta;
  transform: rotateZ(-0.58deg);
}
@keyframes gwd-motion-path-1xr1-keys-theta {
  0% {
    transform: rotateZ(-0.58deg);
    animation-timing-function: cubic-bezier(0.7273, 0.0192, 0.7772, 0.3971);
  }
  71.18% {
    transform: rotateZ(-47.05deg);
    animation-timing-function: cubic-bezier(0.4429, -0.179, 0.6574, 0.8015);
  }
  88.97% {
    transform: rotateZ(-0.44deg);
    animation-timing-function: cubic-bezier(0.2328, 0.3513, 0.9014, 2.8745);
  }
  99.72% {
    transform: rotateZ(18.1deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}
[data-gwd-motion-path-node] {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  pointer-events: none;
}
[data-gwd-motion-path-node].gwd-motion-path-1xr1-anim-x {
  left: 4px;
  top: 183px;
  width: 408px;
  height: 197px;
}